#canvas {
  margin: auto;
  border: solid black 2px;
  display: block;
  background-color: white;
}

#textbox {
  position: absolute;
  left: 45%;
  top: 70%;
  width: 100px;
  height: 25px;
  font-size: 25px;
}
